<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Connect to Bluetooth Device </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="discoverDevices()"
    >Discover Bluetooth Devices</ion-button
  >

  <ion-button (click)="clearDevices()">Clear List</ion-button>

  <ion-list [inset]="true">
    <ion-item *ngFor="let discoveredDevice of discoveredDevices">
      <ion-label>
        {{discoveredDevice.name ?? discoveredDevice.deviceId}}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button (click)="connectToMTechDevice()"
    >Connect to MTech Device</ion-button
  >

  <ion-alert
    [isOpen]="isBluetoothAlertOpen"
    header="Alert"
    subHeader="Bluetooth Disabled"
    message="Please enable Bluetooth to continue."
    [buttons]="bluetoothAlertButtons"
    (didDismiss)="setBluetoothAlertOpen(false)"
  ></ion-alert>
</ion-content>
